@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: linear-gradient(
      180deg,
      rgba(0, 68, 105, 0) 55.42%,
      rgba(0, 0, 0, 0.45) 102.55%
    ),
    linear-gradient(
      237.69deg,
      rgba(45, 45, 45, 0) 30.63%,
      rgba(188, 212, 242, 0.2) 125.87%
    ),
    linear-gradient(
      120.81deg,
      rgba(133, 133, 133, 0) 31.32%,
      rgba(255, 215, 138, 0.2) 123.21%
    ),
    linear-gradient(
      123.72deg,
      rgba(0, 44, 105, 0.5) 3.68%,
      rgba(82, 82, 82, 0) 66.34%
    ),
    linear-gradient(
      238.28deg,
      rgba(39, 54, 133, 0.65) 0%,
      rgba(130, 130, 130, 0) 68.22%
    ),
    #001431;
  font-family: "Montserrat", sans-serif;
  @apply min-h-screen text-gray-50;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* scrollbar design  */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-neutral-600  rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
